.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
}
.mainWrapper {
    width: 400px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid #f6f6f6;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
}
.outerDiv {
    background-color: skyblue;
    height: 100vh;
}
.welcomeDiv {
    background-color:green;
    height: 100vh;
}

.inputField {
    background-color: #f6f6f6;
    border-radius: 10px;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 12%;
    width: 85%;
    border: 2px solid #f6f6f6;
}

.errorField {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    outline: none;
  }

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: -10px 0px 10px 50px;
  }
.submitButton {
    margin: 10px 0px 40px 90px;
}

.footerDiv {
    background-color: #f6f6f6;
    height: 50px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 10px 32px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:hover {
    background-color: rgb(36, 125, 160);
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.headerButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logoutButton {
    position: absolute;
    top: 20px;
    right: 10px;
}